//-section(class="t-segredo")
    div(class="t-segredo__bg")
        //-      BACKGROUND
        figure(class="t-segredo__bg-banner")
           img(class="lzy_img has--placeloader", src="assets/img/segredo-top_D_01.jpg", data-src="assets/img/segredo-top_D_01.jpg?v=02", loading="lazy", alt="Meu Segredo Pro", title="Meu Segredo Pro")
        //-      LOGO
        div(class="t-segredo__bg-infos")
            figure(class="t-segredo__bg-infos--logo")
               img(class="lzy_img has--placeloader", src="assets/img/segredo-logo.png", data-src="assets/img/segredo-logo.png?v=02", loading="lazy", alt="Meu Segredo Pro", title="Meu Segredo Pro")
    
            div(class="t-segredo__black")
                p(class="t-segredo__black-text--top") Conheça a plataforma que está revolucionando
                p(class="t-segredo__black-text--bottom") Mercado profissional de beleza em 2022

    div(class="t-segredo__yellow")
    
    div(class="t-segredo__black")
        div(class="t-segredo__black-text--top1")
            p Com o Meu Segredo Pro gera relacionamento, cria uma nova forma de interação com suas clientes através das Redes Sociais.
            
            div(class="t-segredo__video")
                div(class="t-segredo__video-video")
                    div(class="col-lg-12 mb-4 text-center")
                        iframe(width="420" height="315" src="https://www.youtube.com/embed/kr2nx9fw_9E")
                                
    div(class="t-segredo__benefits")
        div(class="t-segredo__benefits-content")
            h3 Motivos para fazer parte:
            div(class="t-segredo__benefits-content--flex")
                div(class="t-segredo__benefits-content--flex-item")
                    figure 
                        img(class="lzy_img has--placeloader", src="assets/img/segredo-icon-laptop.jpg", data-src="assets/img/segrego-icon-1.jpg?v=02", loading="lazy", alt="Beneficio", title="Beneficio")
                    p Torne a digitalização do seu negócio possível

                div(class="t-segredo__benefits-content--flex-item")
                    figure 
                        img(class="lzy_img has--placeloader", src="assets/img/segredo-icon-carrinho.jpg", data-src="assets/img/segrego-icon-2.jpg?v=02", loading="lazy", alt="Beneficio", title="Beneficio")
                    p Faça vendas a TODO momento, em todo lugar

                div(class="t-segredo__benefits-content--flex-item")
                    figure 
                        img(class="lzy_img has--placeloader", src="assets/img/segredo-icon-porcentagem.jpg", data-src="assets/img/segrego-icon-3.jpg?v=02", loading="lazy", alt="Beneficio", title="Beneficio")
                    p Ganhe uma porcentagem sobre cada venda realizada

                div(class="t-segredo__benefits-content--flex-item")
                    figure 
                        img(class="lzy_img has--placeloader", src="assets/img/segredo-icon-produtos.jpg", data-src="assets/img/segrego-icon-4.jpg?v=02", loading="lazy", alt="Beneficio", title="Beneficio")
                    p Crie painéis personalizados com indicação de produtos para cada cliente
        

    div(class="t-segredo__video")
        div(class="t-segredo__video-video")
            div(class="col-lg-12 mb-4 text-center")
                iframe(width="420" height="315" src="https://www.youtube.com/embed/KhQzzxARmPY")

    div(class="t-segredo__testimony")
        h5 Depoimentos
        div(class="t-segredo__testimony-flex")
            div(class="t-segredo__testimony-flex--item")
                p(class="t-segredo__testimony-flex--item-title") BRUNO GALHARDO 
                p(class="t-segredo__testimony-flex--item-text") "Você ter o apoio de um site, de uma#[br/] marca muito grande, para poder fazer #[br/]essa parte de comercialização de #[br/] produtos é muito bom.#[br/]#[br/] Estou adorando esse projeto!#[br/] Tenho certeza que vai ser um#[br/] grande sucesso.“
                small - GALHARDO, Bruno.
                div(class="t-segredo__testimony-flex--item-bottom")
                    strong @bru_galhardo
                figure(class="t-segredo__testimony-flex--banner")
                    img(class="lzy_img has--placeloader", src="assets/img/BRUNO-GALHARDO.png", data-src="assets/img/BRUNO-GALHARDO.png?v=02", loading="lazy", alt="BRUNO GALHARDO", title="BRUNO GALHARDO")

            div(class="t-segredo__testimony-flex--item")
                p(class="t-segredo__testimony-flex--item-title") BARBARA RABELO
                p(class="t-segredo__testimony-flex--item-text") "Hoje não tem como ficar sem o #[br/]digital. Além disso a gente vai poder #[br/]oferecer um serviço muito diferenciado #[br/]para nossas clientes e super #[br/]personalizado."
                small -RABELO, Barbara.
                div(class="t-segredo__testimony-flex--item-bottom")
                    strong @barbararabelo_
                figure(class="t-segredo__testimony-flex--banner")
                    img(class="lzy_img has--placeloader", src="assets/img/BARBARA-RABELO.png", data-src="assets/img/BARBARA-RABELO.png?v=02", loading="lazy", alt="BARBARA RABELO", title="BARBARA RABELO")

            div(class="t-segredo__testimony-flex--item")
                p(class="t-segredo__testimony-flex--item-title") RODRIGO LIMA
                p(class="t-segredo__testimony-flex--item-text") Deixa a venda na palma da sua mão!#[br/]Eu acredito que daqui para frente o #[br/]nosso futuro vai ser brilhante em cima #[br/]disso."  
                small -LIMA, Rodrigo.
                div(class="t-segredo__testimony-flex--item-bottom")
                    strong @rodrigo.circus
                figure(class="t-segredo__testimony-flex--banner")
                    img(class="lzy_img has--placeloader", src="assets/img/RODRIGO-LIMA.png", data-src="assets/img/RODRIGO-LIMA.png?v=02", loading="lazy", alt="RODRIGO LIMA", title="RODRIGO LIMA")
 
        div(class="t-segredo__testimony-cadastro")
            h5 faça o pré-cadastro do seu estabelecimento

    div(class="t-segredo__bottom")
        div(class="t-segredo__bottom-top")
            figure(class="t-segredo__bottom-top--banner")
                img(class="lzy_img has--placeloader", src="assets/img/segredo-loreal-1.jpg", data-src="assets/img/segredo-loreal-1.jpg?v=02", loading="lazy", alt="Meu Segredo Pro", title="Meu Segredo Pro")
        div(class="t-segredo__bottom-bottom")
            figure(class="t-segredo__bottom-bottom--banner")
                img(class="lzy_img has--placeloader", src="assets/img/segredo-loreal-2.jpg", data-src="assets/img/segredo-loreal-2.jpg?v=02", loading="lazy", alt="Meu Segredo Pro", title="Meu Segredo Pro")
            figure(class="t-segredo__bottom-bottom--banner")
                img(class="lzy_img has--placeloader", src="assets/img/segredo-kerastase.jpg", data-src="assets/img/segredo-kerastase.jpg?v=02", loading="lazy", alt="Meu Segredo Pro", title="Meu Segredo Pro")
            figure(class="t-segredo__bottom-bottom--banner")
                img(class="lzy_img has--placeloader", src="assets/img/segredo-redken.jpg", data-src="assets/img/segredo-redken.jpg?v=02", loading="lazy", alt="Meu Segredo Pro", title="Meu Segredo Pro")