// @font-face {
//     font-family: 'LOREALPRO-Book';
//     src: url('https://segredosdesalao.vteximg.com.br/arquivos/LOREALPRO-Book.eot.css');
//     src: url('https://segredosdesalao.vteximg.com.br/arquivos/LOREALPRO-Book.eot.css?#iefix.css') format('embedded-opentype'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/LOREALPRO-Book.svg#LOREALPRO-Book.css') format('svg'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/LOREALPRO-Book.ttf.css') format('truetype'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/LOREALPRO-Book.woff.css') format('woff'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/LOREALPRO-Book.woff2.css') format('woff2');
//          font-weight: normal;
//          font-style: normal;
//         unicode-range: U+000-5FF;
// }


// @font-face {
//     font-family: 'Brushbress';
//     src: url('https://segredosdesalao.vteximg.com.br/arquivos/Brushbress.eot.css');
//     src: url('https://segredosdesalao.vteximg.com.br/arquivos/Brushbress.eot.css?#iefix') format('embedded-opentype'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/Brushbress.svg.css#Brushbress') format('svg'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/Brushbress.ttf.css') format('truetype'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/Brushbress.woff.css') format('woff'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/Brushbress.woff2.css') format('woff2');
//          font-weight: normal;
//          font-style: normal;
//         unicode-range: U+000-5FF;
// }

@font-face {
    font-family: 'Gotham-Medium';
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Medium.eot.css');
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Medium.eot.css?#iefix') format('embedded-opentype'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Medium.svg.css#Gotham-Medium') format('svg'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Medium.ttf.css') format('truetype'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Medium.woff.css') format('woff'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Medium.woff2.css') format('woff2');
         font-weight: normal;
         font-style: normal;
        unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Black.eot.css');
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Black.eot.css?#iefix') format('embedded-opentype'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Black.svg.css#Gotham-Black') format('svg'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Black.ttf.css') format('truetype'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Black.woff.css') format('woff'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Black.woff2.css') format('woff2');
         font-weight: normal;
         font-style: normal;
        unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Book.eot.css');
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Book.eot.css?#iefix') format('embedded-opentype'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Book.svg.css#Gotham-Book') format('svg'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Book.ttf.css') format('truetype'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Book.woff.css') format('woff'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/Gotham-Book.woff2.css') format('woff2');
         font-weight: normal;
         font-style: normal;
        unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'GothamBold';
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/GothamBold.eot.css');
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/GothamBold.eot.css?#iefix') format('embedded-opentype'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/GothamBold.svg.css#GothamBold') format('svg'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/GothamBold.ttf.css') format('truetype'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/GothamBold.woff.css') format('woff'),
         url('https://segredosdesalao.vteximg.com.br/arquivos/GothamBold.woff2.css') format('woff2');
         font-weight: normal;
         font-style: normal;
        unicode-range: U+000-5FF;
}

// @font-face {
//     font-family: 'Alternate Gothic No.2 BT';
//     src: url('https://segredosdesalao.vteximg.com.br/arquivos/Alternate Gothic No.2 BT.eot.css');
//     src: url('https://segredosdesalao.vteximg.com.br/arquivos/Alternate Gothic No.2 BT.eot.css?#iefix') format('embedded-opentype'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/Alternate Gothic No.2 BT.svg.css#Alternate Gothic No.2 BT') format('svg'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/Alternate Gothic No.2 BT.ttf.css') format('truetype'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/Alternate Gothic No.2 BT.woff.css') format('woff'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/Alternate Gothic No.2 BT.woff2.css') format('woff2');
//          font-weight: normal;
//          font-style: normal;
//         unicode-range: U+000-5FF;
// }

// @font-face {
//     font-family: 'AlternateGothicNo2BT-Regular';
//     src: url('https://segredosdesalao.vteximg.com.br/arquivos/AlternateGothicNo2BT-Regular.eot.css');
//     src: url('https://segredosdesalao.vteximg.com.br/arquivos/AlternateGothicNo2BT-Regular.eot.css?#iefix') format('embedded-opentype'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/AlternateGothicNo2BT-Regular.svg.css#AlternateGothicNo2BT-Regular') format('svg'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/AlternateGothicNo2BT-Regular.ttf.css') format('truetype'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/AlternateGothicNo2BT-Regular.woff.css') format('woff'),
//          url('https://segredosdesalao.vteximg.com.br/arquivos/AlternateGothicNo2BT-Regular.woff2.css') format('woff2');
//          font-weight: normal;
//          font-style: normal;
//         unicode-range: U+000-5FF;
// }

/**
 * Colors
 */
$color-white: #fff;
$color-black: #000;

/**
 * Typography
 */

// $font-blond-main: 'LOREALPRO-Book';
$font-kerastase-medium: 'Gotham-Medium';
$font-kerastase-book: 'Gotham-Book';
$font-kerastase-bold: 'GothamBold';

$font-loreal-brush: 'Brushbress';
$font-loreal-main: 'Gotham-Medium';
$font-loreal-black: 'Gotham-Black';
$font-loreal-book: 'Gotham-Book';
$font-loreal-bold: 'GothamBold';
$font-loreal-2bt: 'Alternate Gothic No.2 BT';
$font-loreal-2btreg: 'AlternateGothicNo2BT-Regular';

$font-size-base: 16px !default;
$font-weight-light: 300 !default;
$font-weight-base: 400 !default;
$font-weight-bold: 700 !default;